
@{
    ViewBag.Title = "enroll";
}

<h2>enrolled</h2>
<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_WLhn7rrKlopFCG", // Enter the Key ID generated from the Dashboard
        "amount": '@ViewBag.amount', // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "BTPSKANPUT", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": '@ViewBag.orderId', //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            console.log(response.razorpay_payment_id);
            console.log(response.razorpay_order_id);
            console.log(response.razorpay_signature)
        },
        //"prefill": {
        //    "name": "Gaurav Kumar", //your customer's name
        //    "email": "gaurav.kumar@example.com",
        //    "contact": "9000090000"
        //},
        //"notes": {
        //    "address": "Razorpay Corporate Office"
        //},
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        console.log(response.error.code);
        console.log(response.error.description);
        console.log(response.error.source);
        console.log(response.error.step);
        console.log(response.error.reason);
        console.log(response.error.metadata.order_id);
        console.log(response.error.metadata.payment_id);
    });

    

    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>

<script>
    let btn = document.getElementById("rzp-button1");
    btn.click();
</script>